/* CODECADEMY:   Building Websites From Scratch
   UNIT:         08 (Days 1 - 7)
   PROJECT:      "Capstone Project: Colmar Academy"
*/

/*----------------------------------------------------------------------------------------*/
/* Universal Styles
   ---------------- */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;      /*base font size (1rem = 16px)*/
}

.main-content {
  position: relative;
  top: 4rem;       /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.light-grey {
  background-color: lightgrey;
}

.caps {
  text-transform: capitalize;
}

.button {
  border-radius: 2px;
  background-color: #4a4a4a;
  color: white;
  padding: 8px 0;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/*----------------------------------------------------------------------------------------*/
/* Header
   ------ */

header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;   /*flex grow = 1; logo element takes up all available screen width upon widening screen*/
}

header .logo .image-container {
  height: 2rem;
}

header .logo img {
  height: auto;/*2rem*/
  width: 2rem;
}

header .logo-txt {
  font-size: 1rem;
}

header .desktop ul {
  display: flex;
  align-items: center;
}

header .desktop li {
  padding: 0 0.5rem;
}
header .desktop li:first-child {
  padding-left: 0;
}
header .desktop li:last-child {
  padding-right: 0;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  /*for TABLET screens (portrait or landscape orientation)*/
  header .logo .logo-txt {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  /*for mobile phone screens (either portrait or landscape orientation)*/
  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {    /*mobile navigator*/
    display: block;
    width: 100%;      /*mobile navigator to take up full container (parent) width*/
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;  /*space will nicely grow/shrink along with screen width*/
    align-items: center;
    width: 100%;
  }
}

/*----------------------------------------------------------------------------------------*/
/* BANNER / Start Here Section
   --------------------------- */

#start-here-section {
  display: flex;
  /*justify-content: flex-start;*/
  align-items: center;
}
                                /** left column **/
#start-here-section .left-col {
  width: 60%;
  /*padding: 2rem 1.5rem;*/
}

#start-here-section .image-container {
  max-width: 100%;    /*full width of parent container*/
  padding: 2rem 1.5rem;
}

#start-here-section .image-container img {
  max-width: 100%;  /*full width of parent container*/
  height: auto;     /*height adjusted automatically to width, to main aspect ratio*/
}

                                /** right column **/
#start-here-section .right-col {
  width: 40%;
}

.start-here-cta  {
  max-width: 100%;
  padding: 1rem;
}

.start-here-cta .content {
  max-width: 340px;
}

.start-here-cta h1 {
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.25;
  padding-bottom: 1.5rem;
}

.start-here-cta h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 1.5rem;
}

.start-here-cta .button {
  padding: 0.5rem auto;
}

                                /** media queries **/

@media only screen and (max-width: 1024px) {
  .start-here-cta .content {
    max-width: 280px;
  }

  .start-here-cta h1 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 1.5rem;
  }

  .start-here-cta h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 840px) {
  /*
  #start-here-section .image-container {
    width: 45%;
  }
  */
  .start-here-cta h1 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 1.5rem;
  }

  .start-here-cta h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 768px) { /*no more left/right columns - to stretch full screen width*/
  #start-here-section {
    display: block;
  }

  #start-here-section .left-col { /*left column now block item (full screen width)*/
    width: 100%;
    padding: 0;
  }

  #start-here-section .right-col { /*right column now block item (full screen width)*/
    width: 100%;
    padding: 0;
  }

  #start-here-section .image-container {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .start-here-cta .content {
    max-width: 340px;
  }

  .start-here-cta .content {
    margin: 2rem auto;
  }

  .start-here-cta h1 {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 1.5rem;
  }

  .start-here-cta h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    padding-bottom: 1.5rem;
  }

}

@media only screen and (max-width: 480px) {
  .start-here-cta {
    display: block;
    padding: 0;
  }

  .start-here-cta .content {
    text-align: center;
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .start-here-cta h1 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 1.5rem;
  }

  .start-here-cta h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 1.5rem;
  }
}
*/

/*----------------------------------------------------------------------------------------*/
/* Information
   ----------- */

#information-section {
  display: flex;
}
                                /** left column **/
#information-section .left-col {
  width: 60%;
  /*padding: 2rem 1.5rem;*/
}

#information-section .left-col .image-container {
  max-width: 100%;  /*image-container takes up full width of .left-col container*/
  padding: 2rem 1.5rem;
}

#information-section .left-col .image-container img {
  max-width: 100%;
  height: auto;
}

#information-section .left-col .content {
  padding: 2rem 0;
}

#information-section .left-col h2 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.25;
  padding: 0;
}

#information-section .left-col span:first-child {
  display: block;
  font-size: 0.75rem;
  line-height: 1.25;
  padding: 1.5rem 0;
}

#information-section .left-col span:last-child {
  display: block;
  font-size: 0.5rem;
  padding: 0;
}
                                /** right column **/
#information-section .right-col {
  width: 40%;
}

/*----------------------------------------------------------------------------------------*/
/* TROUBLESHOOTING */

/*To Outline an item - COMMENT OUT WHEN READY*/
.box {
  border: 1px solid red;
}
.box2 {
  border: 1px dotted blue;
}
