/* CODECADEMY:   Building Websites From Scratch
   UNIT:         08 (Days 1 - 7)
   PROJECT:      "Capstone Project: Colmar Academy"
*/

/*----------------------------------------------------------------------------------------*/
/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;      /*base font size (1rem = 16px)*/
}

.main-content {
  position: relative;
  top: 4rem;       /* To offset for fixed header. */
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.light-grey {
  background-color: lightgrey;
}

.caps {
  text-transform: capitalize;
}

.button {
  border-radius: 2px;
  background-color: #4a4a4a;
  color: white;
  padding: 8px 0;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

/*----------------------------------------------------------------------------------------*/
/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  z-index: 1;
}

header .content {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
  flex: 1;   /*flex grow = 1; logo element takes up all available screen width upon widening screen*/
}

header .logo .image-container {
  height: 2rem;
}

header .logo img {
  height: auto;/*2rem*/
  width: 2rem;
}

header .logo-txt {
  font-size: 1rem;
}

header .desktop ul {
  display: flex;
  align-items: center;
}

header .desktop li {
  padding: 0 0.5rem;
}
header .desktop li:first-child {
  padding-left: 0;
}
header .desktop li:last-child {
  padding-right: 0;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  /*for TABLET screens (portrait or landscape orientation)*/
  header .logo .logo-txt {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  /*for mobile phone screens (either portrait or landscape orientation)*/
  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {    /*mobile navigator*/
    display: block;
    width: 100%;      /*mobile navigator to take up full container (parent) width*/
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;  /*space will nicely grow/shrink along with screen width*/
    align-items: center;
    width: 100%;
  }
}

/*----------------------------------------------------------------------------------------*/
/* Start Here Section */

#start-here-section {
  display: flex;
  justify-content: flex-start;
}

#start-here-section .image-container {
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
}

#start-here-section .image-container img {
  max-width: 100%;
  height: auto;
}

.start-here-cta  {
  margin: auto 0;
  padding-bottom: 1rem;
}

.start-here-cta .content {
  width: 340px;
}

.start-here-cta h1 {
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.25;
  padding-bottom: 1.5rem;
}

.start-here-cta h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  padding-bottom: 1.5rem;
}

.start-here-cta .button {
  padding: 0.5rem auto;
}

@media only screen and (max-width: 1024px) { /*for screens < 1024px wide*/
  #start-here-section .image-container {
    width: 50%;
    /*other properties inherited*/
  }

  .start-here-cta .content {
    width: 280px;
  }

  .start-here-cta h1 {
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 1.5rem;
  }

  .start-here-cta h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 840px) { /*for screens < 840px wide*/
  #start-here-section .image-container {
    width: 45%;
    /*other properties inherited*/
  }
}

@media only screen and (max-width: 768px) { /*for TABLET screens (portrait or landscape orientation)*/
  #start-here-section {
    display: block;
  }

  #start-here-section .image-container {
    padding: 0;
    width: 100%;
    height: auto;
  }

  .start-here-cta .content {
    width: 340px;
  }
  
  .start-here-cta .content {
    margin: 2rem auto;
    /*width: auto;*/
  }
}

@media only screen and (max-width: 480px) { /*for mobile phone screens (either portrait or landscape orientation)*/
  .start-here-cta .content {
    margin: 2rem auto;
    width: auto;
    min-width: 200px;
    text-align: center;
    padding: 0 1.5rem;
  }
}

/*----------------------------------------------------------------------------------------*/
/* TROUBLESHOOTING */

/*To Outline an item - COMMENT OUT WHEN READY*/
.box {
  border: 1px solid red;
}
.box2 {
  border: 1px dotted blue;
}
